body{
    font-style: bold;
    margin: 0;
}
h1{
    font-size: 50px;
   
}
.oranged{
    color: orangered;
}
section{
    display: flex;
}
.half-width{
      width: 50%;
      padding-left:5%;
}
.half-width img{
            width: 80%;
            padding-right: 5%;
            padding-top: 5%;
}
.link-button{
       text-decoration: none;
       background-image: linear-gradient(tomato, orange);
       color: white;
       font-weight: 700;
      padding: 10px 40px;
      border-radius: 5px;
         
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
   
